<h1>Lista de Productos</h1>
<ul id="product-list">
    {{#each products}}
    <li>
        {{this.title}} - {{this.price}}
        <a href="/products/{{this._id}}">Detalles</a>
        <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
    </li>
    {{/each}}
</ul>

<div>
    {{#if hasPrevPage}}
    <a href="{{prevLink}}">Anterior</a>
    {{/if}}
    Página {{page}} de {{totalPages}}
    {{#if hasNextPage}}
    <a href="{{nextLink}}">Siguiente</a>
    {{/if}}
</div>

<script>
    function addToCart(productId) {
        fetch(`/api/carts/1/product/${productId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            if (response.ok) {
                alert('Producto agregado al carrito');
            } else {
                alert('Error al agregar producto al carrito');
            }
        });
    }
</script>
